.App {
  width: 100%;
  height: 100%;
  position: relative;
}
.top-header {
  background-color: #08B8F8;
  line-height: 20px;
}
.header-link:hover {
  border-bottom: 3px solid #08B8F8;
  transition: 0.2s;
}
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
  margin-left: 50%;
}
.social_link {
  color: white;
}
.social_link:hover {
  opacity: 0.5;
}
.link-footer {
  color: #eee;
}
.link-footer:hover {
  color: #08B8F8;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  top: 10rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.contact-box {
  font-size: 22px;
}
.zoom {
  transition: 0.2s;
}
.zoom:hover {
  -ms-transform: scale(1.0);
  /* IE 9 */
  -webkit-transform: scale(1.0);
  /* Safari 3-8 */
  transform: scale(1.1);

}
.bg-about {
  width: 100%;
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.breadcrumb-item.active {
  color: white !important;
}
.breadcrumb {
  font-size: 20px !important;
}
@media (max-width: 1200px) {
  .contact-box {
      font-size: 18px;
    }
}
@media (max-width: 991.98px) {
.contact-box {
    font-size: 16px;
  }
    .carousel-caption {
      top: 4rem;
    }    
}
@media (min-width: 768px) {
  .navbar-toggler {
      
      margin-left: 60%;
  }
}
@media (min-width: 576px) {

}